.skills-container {
  background-color: #0d1a30;
  color: white;
  padding-top: 32px;
  padding-bottom: 32px;
}

.label {
  font-weight: bold;
  font-size: large;
  padding-right: 32px;
}

.resp-table-row-height {
  height: 64px;
}
