.skills-container {
  background-color: #091120;
  color: white;
  padding-top: 32px;
  padding-bottom: 32px;
}

.label {
  font-weight: bold;
  font-size: large;
  padding-right: 32px;
}

#resp-table {
  width: 100%;
  display: table;
}

#resp-table-body {
  display: table-row-group;
}

.resp-table-row {
  display: table-row;
  height: 64px;
}

.table-body-cell {
  display: table-cell;
}
