.header {
  font-size: 70px;
  font-weight: 600;
  background-image: linear-gradient(to left, #bdaaef, #965cd0);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  margin-bottom: 0;
  margin-top: 32px;
}

.subheader {
  font-size: 18px;
  font-weight: 600;
  background-image: linear-gradient(to left, #bdaaef, #965cd0);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  margin-top: 0;
  width: 60%;
  text-align: center;
  margin-bottom: 32px;
}

.header-block {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
