.project-tile__header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 16px;
}

.project-tile__header-font {
  color: black;
  font-weight: bold;
  font-family: cursive;
}

.project-tile__header:hover {
  cursor: pointer;
  color: dodgerblue;
}

.grow {
  transition: all 0.2s ease-in-out;
}

.grow:hover {
  transform: scale(1.1);
}

@keyframes itemEntrance {
  from {
    opacity: 0;
    transform: scale(0.3);
    filter: hue-rotate(180deg);
  }
  to {
    opacity: 1;
    transform: scale(1);
    filter: hue-rotate(0deg);
  }
}

.item-container {
  height: 180px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #cccccc; /* Used if the image is unavailable */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover;
  text-align: center;
  cursor: pointer;
}

.project-tile-animation {
  animation: itemEntrance 700ms ease-out;
  animation-fill-mode: backwards;
}

@for $i from 1 to 3 {
  .project-tile-animation:nth-child(#{$i}) {
    animation-delay: $i * 0.25s;
  }
}
