.items-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(320px, auto));
  grid-template-rows: repeat(auto-fit, minmax(180px, auto));
  column-gap: 32px;
  row-gap: 32px;
  margin-top: 32px;
}

.projects-search-container {
  display: flex;
  justify-content: end;
  padding-top: 32px;
  padding-bottom: 12px;
}

.search-input-container {
  position: relative;
  display: flex;
  flex-direction: row;
  border-bottom: solid;
}

.search-icon {
  margin-right: 8px;
  margin-left: 8px;
}

.search-input {
  outline: none;
  width: 140px;
  transition: width 0.5s;
}

.search-input:focus {
  width: 200px;
}
