.items-container {
  display: grid;
  grid-template-columns: repeat( auto-fill, minmax(320px,auto) );
  grid-template-rows: repeat( auto-fit, minmax(180px, auto) );
  column-gap: 32px;
  row-gap: 32px;
  margin-top: 32px;
}

.projects-search-container {
  display: flex;
  justify-content: end;
  padding-top: 32px;
}
