//content
@import "./content/LandingPage/landing-page";

//components
@import "./component/header/header-menu";
@import "./component/contact/contact";

.background-space {
  background-image: url("./assets/space.gif");
  background-repeat: "no-repeat";
  background-size: "cover";
  width: "100%";
  height: "100vh";
}

.IconButton {
  color: white !important;
}
