//content
// @import "./content/LandingPage/landing-page";
@import "./content/Splash/splash";
@import "./content/Home/home";
@import "./content/ProjectView/project-view";
@import "./content/ProjectView/project-box";
@import "./content/About/about.scss";
@import "./content/Contact/contact.scss";

//components
@import "./component/header/header";
@import "./component/header/header-menu";
@import "./component/profileBox/profile-box";
@import "./content/Contact/contact-box.scss";
// @import "./component/contact/contact";
// @import "./component/skills/skills";
@import "./component/projects/projects";
@import "./component/projects/project-tile";
// @import "./component/projects/project";

header {
  font-family: cursive;
}

.page__title {
  font-family: "cursive";
  text-align: center;
  font-size: 64px;
  line-height: 48px;
  line-height: 57%;
  vertical-align: center;
  letter-spacing: -0.23px;
  margin-top: 88px;
  margin-bottom: 88px;
}

.divider {
  margin-top: 48px;
  margin-bottom: 48px;
}

