.project-box-container {
    display: block;
    padding: 64px;
    background-color: white;
}

.project-box__header {
    text-align: center;
    font-size: xx-large;
}

.project-box__body {
    margin-top: 48px;
}